html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
  color: black;
}

header, .banner, .info, #study, .other, .content-right {
  border-radius: 8px;
}

/*Header*/

header .container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center:
}

nav.pc {
  padding-top: 0.5rem;
}

.logo {
  display: flex;
  margin-left: 24px;
  align-items: center;
}

.logo img {
  margin-left: 24px;
}

.logo h4 {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 700;
}

.logo span {
  color: #E85F5C;
}

.pc ul li {
  display: inline-block;
  padding: 1rem;
}

.pc ul li a {
  text-decoration: none;
  color: black;
}

/*Middle Section*/

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #8d99ae;
}

.left {
  max-width: 100%;
  margin-right: 24px;
}

.left img {
  width: 100%;
}

.right {
  padding-right: 2rem;
  margin: 1rem 2rem;
}

.right h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  ;
  line-height: 1.2;
}

.right h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  padding-right: 8rem;
}

.right span {
  text-align: center;
  background-color: #E85F5C;
  font-family: "Lato", sans-serif;
  font-size: 1.2;
  font-weight: 700;
  display: block;
  padding: 16px 0;
  margin-right: 4rem;
  margin-top: 2rem;
  border-radius: 6px;
}

.right span a:hover {
  color: lightgrey;
}

.right a {
  text-decoration: none;
  color: white;
}

/*info-left*/

.info {
  display: flex;
  padding: 2rem 1.5rem;
}

.info a {
  padding: 0.25rem 0.5rem;
  background-color: #E85F5C;
  color: white;
  border-radius: 0.2rem;
}

.info a:hover {
  color: lightgrey;
}

.info-left {
  width: 62%;
  margin-right: 1.5rem;
}

.info-left .image img {
  width: 100%;
}

.content {
  width: 32rem;
  margin: 1rem 0;
}

.content p {
  margin-top: 1.5rem;
  padding-right: 4rem;
}

.content h4 {
  margin-top: 2rem;
}

.content h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

/*info-Right*/

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content-right {
  display: flex;
  align-items: center;
}

.content-right:last-child {
  background-color: #8d99ae;
}

.content-img {
  width: 35%;
  margin: 16px;
}

.content-img img {
  width: 100%;
}

.discription {
  width: 60%;
}

.discription h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.discription h5 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  margin: 2rem 0;
}

/*Learn*/

#study {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8d99ae;
}

#study h1 {
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
  font-family: "lato", sans-serif;
  font-size: 2rem;
}

.programs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}

.courses {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 32px;
}

.courses img {
  width: 100%;
}

.course-discription {
  margin: 1rem 1rem 1.5rem;
}

.course-discription h4 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-left: 1rem;
}

.course-discription p {
  margin: 1rem;
}

/* Exhibit left */

#thesis h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.4;
}

#thesis h1 {
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
  font-family: "lato", sans-serif;
  font-size: 2rem;
}

.exhibit {
  display: flex;
  width: 100%;
}

.exhibit-video {
  width: 60%;
  margin: 0 30px 45px;
}

.video-discription p {
  margin-top: 0.5rem;
}

.video-discription h4 {
  margin-top: 1rem;
}

/*Exhibit right*/

.exhibit-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.other {
  display: flex;
  align-items: center;
}

.other:first-child {
  background-color: #8d99ae;
}

.exhibit-img {
  width: 35%;
  margin: 16px;
}

.exhibit-img img {
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Roboto", sans-serif;
  max-width: 75rem;
  width: 100%;
  height: 93px;
  font-size: 0.9rem;
  align-items: center;
  margin: 0 auto;
  background-color: #e8e8e8;
}

.legal span {
  padding-left: 1rem;
}

footer nav {
  margin: 1rem 1.5rem;
}

footer nav li {
  display: inline-block;
  text-decoration: none;
  margin-left: 1rem;
}

/* Mobile */

@media only screen and (min-width: 750px) {
  nav.mobile {
    display: none;
  }
  .content-img-mobile img {
    display: none;
  }
  .courses-mobile {
    display: none;
  }
  .media {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    max-width: 100%;
  }
  .logo, nav.pc {
    display: none;
  }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 1rem;
    align-items: center;
  }
  /* Banner */
  .banner {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .left {
    margin: auto;
  }
  .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 0
  }
  .right h3 {
    padding: 0
  }
  .right span {
    background-size: cover;
    border-radius: 6px;
    margin-right: 0;
  }
  /* Info Section */
  .info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .info-left {
    display: none;
  }
  .info-right {
    width: 100%;
    border: none;
    display: flex;
    margin: 1rem 0;
  }
  .content-right {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .content-img {
    display: none;
  }
  .content-img-mobile img {
    width: 90%;
  }
  .discription {
    width: 60%;
    margin: 1.5rem;
  }
  .content-right:first-child {
    border: none;
  }
  .content-right:last-child {
    background-color: #e8e8e8;
  }
  /* Learn */
  #study {
    padding: 16px 16px 32px 16px;
  }
  #study h1 {
    text-align: center;
    margin: 30px 0 16px;
    font-size: 2.5rem;
  }
  #study h4 {
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
  }
  .courses-mobile a {
    text-decoration: none;
    color: #000000;
  }
  .courses-mobile a:hover {
    color: #bebebe;
  }
  .programs {
    display: none;
  }
  .courses-mobile {
    display: block;
    width: 70%;
    opacity: 0.8;
  }
  .courses-mobile li {
    background-color: white;
    padding: 1.5rem 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
  }
  /* Thesis Exhibit */
  #thesis .exhibit-right {
    display: none;
  }
  #thesis h1 {
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
    font-family: "lato", sans-serif;
    font-size: 2.5rem;
  }
  .exhibit-video {
    width: 100%;
    margin: 0 11px 8px;
  }
  .video-discription {
    padding: 1rem 1rem;
  }
  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    border: 0;
  }
  footer .legal {
    padding-top: 0.5rem;
    color: #000000
  }
  .media {
    text-align: center;
    margin: .5rem 1rem;
  }
  .media i {
    padding: .3rem;
  }
}